<%@similar_fruits.each do |fruit|%>
  <ul>
    <li>
      <%=link_to "Fruit: #{fruit.name}", fruits_path(:search => fruit.name), method: :post %>
    </li>
    <li>
      <%="Calories: #{fruit.nutrition_info[:calories]}"=%>
    </li>
  </ul>
<%end%>


